* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  position: relative;
  font-size: inherit;
  color: inherit;
}

/* CONTENT BEGRENZUNG  */

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0;
  padding: 24px 15px;
  box-sizing: border-box;
}

/* HERO SECTION */

.hero-graph img,
.graph1 img,
.graph2 img {
  width: 100%;
  padding-bottom: 20px;
}

.hero-graph img {
  display: flex;
  justify-content: center;
}

.hero-graph h3 {
  font-size: 20px;
  font-family: arima;
  font-weight: 600;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.graph1 h3,
.graph2 h3 {
  text-align: center;
  font-family: arima;
  font-weight: 600;
  font-size: 20px;
  color: var(--secondary-brown);
}

.graph1 p,
.graph2 p {
  text-align: start;
  padding-bottom: 20px;
}

h2.article-subtitle-font {
  line-height: 1;
  font-size: 16px;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.hero-intro-text {
  line-height: 1;
}

.article-title-font {
  font-size: 35px;
  line-height: 1;
}

.hero-meta {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.meta-item {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

.hero-author-box {
  padding-top: 20px;
}

.author-card {
  background-color: #4ea48733;
  padding: 18px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  max-width: 345px;
}

.article-text-bottom {
  padding-bottom: 0;
}
.author-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  display: block;
  margin-bottom: 10px;
}

.author-card p {
  max-width: 100%;
  line-height: 1.2;
}

.author-card-role {
  margin: 2px 0 8px;
}

.author-card-name {
  color: var(--secondary-brown);
  font-size: clamp(1.2rem, 3dvw, 1.5rem);
}

.author-card h2 {
  margin: 0;
  line-height: 1;
  font-family: "Arima";
}

/* ARTICLE AND GRAPHS */

/* SHARE SECTION */

.share-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 30px;
  background: var(--primary-green);
  color: var(--primary-yellow);
  height: 48px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  border-radius: 40px;
}

.share-icon {
  width: 20px;
  height: 20px;
}

.share-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

.share-btn span {
  font-family: arima;
  font-weight: 700;
  font-size: 24px;
}

.share-box {
  width: 300px;
  margin: 0 auto;
}

.share-text {
  color: var(--secondary-brown);
  font-family: arima;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 8px;
}

@media (min-width: 768px) {
  .hero-graph img {
    width: 60%;
    margin: 0 auto;
  }
  .graph2-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    width: 100%;
  }

  .graph2 p {
    padding-bottom: 35px;
  }

  .graph1,
  .graph2 {
    width: 100%;
    max-width: 519px;
  }

  .graph1 img,
  .graph2 img {
    display: block;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding-bottom: 20px;
  }
}
