/* arima-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Arima";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/arima-v7-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* arima-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Arima";
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/arima-v7-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* palanquin-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/palanquin-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* palanquin-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/palanquin-v17-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* palanquin-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/palanquin-v17-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* palanquin-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/palanquin-v17-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* palanquin-dark-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Palanquin Dark";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/palanquin-dark-v17-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* palanquin-dark-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Palanquin Dark";
    font-style: normal;
    font-weight: 600;
    src: url("./fonts/palanquin-dark-v17-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html{
    font-size: 16px;
}

.article-title-font{
    font-family: arima;
    font-weight: 700;
    color: var(--primary-yellow);
    font-style: bold;
    font-size: clamp(2.5rem, 6.5dvw,4rem);
}

.article-subtitle-font{
    font-family: palanquin;
    font-weight: 600;
    font-style: semibold;
    color: var(--primary-green);
    font-size: clamp(1.25rem, 4dvw, 2.5rem);
}

.landing-subheading{
    font-family: arima;
    font-weight: 700;
    font-style: bold;
    color: var(--primary-green);
    font-size: clamp(2.5rem, 3dvw, 2.25rem);
}