header {
    width: 100%;
    height: 88px;
    background-color: var(--primary-green);
    align-content: center;

    @media screen AND (min-width: 441px) {
        height: 128px;
    }

    #header-content {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 2dvh max((calc(100% - 1440px) / 2), 120px);
        gap: min(6dvw, 100px);

        @media screen AND (max-width: 850px) {
            padding: 2dvh 8dvw;
        }

        @media screen AND (max-width: 440px) {
            justify-content: center;
        }

        img {
            height: 56px;
            width: 56px;
        }

        ul {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: min(6dvw, 72px);
            color: white;

            a {
                font-family: Arima;
                font-weight: 700;
                font-style: Bold;
                font-size: clamp(1.25rem, 2dvw, 1.5rem);
                text-decoration: none;
            }

            a:visited {
                color: var(--primary-yellow);
            }

            @media screen AND (max-width: 768px) {
                padding: 2dvh 6dvw;
            }

            @media screen AND (max-width: 440px) {
                display: none;
            }
        }
    }
}

#mobile-nav-bar {
    z-index: 1;
    width: 100%;
    height: 88px;
    background-color: var(--primary-yellow);
    position: fixed;
    bottom: 0;
    padding: 5dvw 15dvw;
    justify-items: center;
    align-content: center;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5dvw;

        img {
            height: 40px;
            width: 40px;
        }
    }

    @media screen and (min-width: 441px) {
        display: none;
    }
}

/* main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
 */
#cappadocia {
    display: flex;
    flex-direction: column;
    justify-content: center;

    > img {
        object-fit: cover;
        width: 100%;
        max-width: 1440px;
        height: 500px;
        max-height: 500px;
        object-fit: cover;
    }

    #cappadocia-text-box {
        padding: 3dvh 3dvw;
        display: flex;
        flex-direction: column;
        background-color: var(--primary-yellow);
        gap: 1dvh;

        h3 {
            font-family: Arima;
            font-weight: 700;
            font-style: Bold;
            font-size: 2rem;
            color: var(--secondary-brown);
        }

        p {
            font-family: Palanquin;
            font-weight: 500;
            font-size: 1.5rem;
        }
    }
}

/* DO NOT TOUCH CAPPADOCIA ANYMORE */

#highlights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3dvh;
    padding: 3dvh 2dvw;

    > img {
        height: 40px;
        width: 40px;
    }

    #highlights-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3dvw;
    }

    .slider_photos {
        height: 500px;
        width: 335px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        overflow: hidden;

        .slider_photos_wrapper {
            width: 400%;
            height: 100%;

            position: absolute;
            display: flex;
            z-index: 1;

            .slider_photos_element {
                width: calc(100% / 4);
                height: 100%;
                display: flex;
                justify-content: center;
                position: relative;

                .slider_photos_element_textbox {
                    width: 90%;
                    position: absolute;
                    top: 20%;
                    z-index: 2;
                    border-radius: 5px;
                    background-color: rgba(255, 255, 255, 0.4);
                    display: flex;
                    flex-direction: column;
                    padding: 1dvh 1dvw;

                    backdrop-filter: blur(5px) saturate(60%);

                    .slider_photos_element_text {
                        width: 100%;
                        padding: 0.5dvh 0.5dvw;
                        text-align: left-align;
                        display: flex;
                        flex-direction: column;
                        gap: 1dvh;

                        .slider_photos_element_text_header {
                            color: white;
                            font-family: Palanquin;
                            font-weight: 400;
                            font-style: Regular;
                            font-size: 1.75rem;
                        }

                        .slider_photos_element_text_description {
                            color: white;
                            font-family: Palanquin;
                            font-weight: 400;
                            font-style: Regular;
                            font-size: 1.25rem;
                        }
                    }
                }

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    .slider_photos input {
        z-index: 2;
        margin-bottom: 2dvh;
    }

    .slider_photos input[value="one"]:checked ~ .slider_photos_wrapper {
        transform: translateX(calc(100% /8 * 3));
    }

    .slider_photos input[value="two"]:checked ~ .slider_photos_wrapper {
        transform: translateX(calc(100% /8));
    }

    .slider_photos input[value="three"]:checked ~ .slider_photos_wrapper {
        transform: translateX(calc(-100% / 8));
    }
    .slider_photos input[value="four"]:checked ~ .slider_photos_wrapper {
        transform: translateX(calc(-100% / 8 * 3));
    }
}

footer {
    width: 100%;
    height: 10dvh;
    background-color: var(--primary-green);
    align-content: center;

    @media screen AND (max-width: 660px) {
        height: 15dvh;
    }

    #footer-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2dvh max((calc(100% - 1440px) / 2), 120px);
        gap: min(6dvw, 100px);

        @media screen AND (max-width: 850px) {
            padding: 2dvh 8dvw;
        }

        #footer-text {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            gap: 2dvw;

            @media screen AND (max-width: 660px) {
                flex-direction: column;
            }

            p {
                font-family: palanquin;
                font-weight: 400;
                color: white;
                font-size: 1.125rem;

                @media screen AND (max-width: 660px) {
                    font-size: 1rem;
                }
            }

            a {
                font-family: palanquin;
                font-weight: 400;
                color: white;
                font-size: 1rem;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            #copyright {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 1dvw;
                @media screen AND (max-width: 660px) {
                    order: 1;
                }
            }
        }

        #footer-icons {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 1dvw;

            @media screen AND (max-width: 380px) {
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }
    }
}
