header {
    width: 100%;
    height: 88px;
    background-color: var(--primary-green);
    align-content: center;

    @media screen AND (min-width: 441px) {
        height: 128px;
    }

    #header-content {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        justify-content: flex-start;
        align-items: center;
        padding: 2dvh max((calc(100% - 1440px) / 2), 120px);
        gap: min(6dvw, 100px);

        @media screen AND (max-width: 850px) {
            padding: 2dvh 8dvw;
        }

        @media screen AND (max-width: 440px) {
            justify-content: center;
        }
        padding: 2dvh max((calc(100% - 1440px) / 2), 120px);
        gap: min(6dvw, 100px);

        @media screen AND (max-width: 850px) {
            padding: 2dvh 8dvw;
        }

        @media screen AND (max-width: 440px) {
            justify-content: center;
        }
    }

    img {
        height: 56px;
        width: 56px;
    }

    ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: min(6dvw, 72px);
        gap: min(6dvw, 72px);
        color: white;

        a {
            font-family: Arima;
            font-weight: 700;
            font-style: Bold;
            font-size: clamp(1.25rem, 2dvw, 1.5rem);
            font-size: clamp(1.25rem, 2dvw, 1.5rem);
            text-decoration: none;
        }

        a:visited {
            color: var(--primary-yellow);
        }

        @media screen AND (max-width: 768px) {
            padding: 2dvh 6dvw;
        }

        @media screen AND (max-width: 440px) {
            display: none;
        }
    }
}

#mobile-nav-bar {
    z-index: 2;
    width: 100%;
    height: 88px;
    background-color: var(--primary-yellow);
    position: fixed;
    bottom: 0;
    padding: 2dvw 1dvw;
    justify-items: center;
    align-content: center;

    div {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            height: 40px;
            width: 40px;
        }
    }

    @media screen and (min-width: 441px) {
        display: none;
    }
}

#cappadocia {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: aquamarine;

    #cappadocia-content {
        width: 100%;
        position: relative;
        padding: 2dvh max((calc(100% - 1440px) / 2), 120px);

        @media screen AND (max-width: 850px) {
            padding: 2dvh 8dvw;
        }

        cappadocia-text {
            z-index: 1;
            width: 90%;
            display: flex;
            flex-direction: column;
            background-color: var(--primary-yellow);
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}

#highlights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3dvh;
    padding: 3dvh 2dvw;

    > img {
        height: 40px;
        width: 40px;
    }

    .section-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: min(3dvw, 20px);
    }

    .slider_photos {
        height: 500px;
        width: min(95%, 335px);
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        overflow: hidden;

        .slider_photos_wrapper {
            width: 400%;
            height: 100%;

            position: absolute;
            display: flex;

            .slider_photos_element {
                width: calc(100% / 4);
                height: 100%;
                display: flex;
                justify-content: center;
                position: relative;

                .slider_photos_element_textbox {
                    width: 90%;
                    position: absolute;
                    top: 20%;
                    z-index: 1;
                    border-radius: 5px;
                    background-color: rgba(255, 255, 255, 0.4);
                    display: flex;
                    flex-direction: column;
                    padding: 0.5dvh 0.5dvw;
                    backdrop-filter: blur(5px) saturate(60%);

                    .slider_photos_element_text {
                        width: 100%;
                        padding: 0.5dvh 0.5dvw;
                        text-align: left-align;
                        display: flex;
                        flex-direction: column;
                        gap: 1dvh;

                        .slider_photos_element_text_header {
                            color: white;
                            font-family: Palanquin;
                            font-weight: 400;
                            font-size: 1.75rem;
                            line-height: 1;
                        }

                        .slider_photos_element_text_description {
                            color: white;
                            font-family: Palanquin;
                            font-weight: 400;
                            font-size: 1.25rem;
                            line-height: 1;
                        }
                    }
                }

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .slider_photos input {
        z-index: 1;
        margin-bottom: 2dvh;
    }

    .slider_photos input[value="one"]:checked ~ .slider_photos_wrapper {
        transform: translateX(calc(100% / 8 * 3));
    }

    .slider_photos input[value="two"]:checked ~ .slider_photos_wrapper {
        transform: translateX(calc(100% / 8));
    }

    .slider_photos input[value="three"]:checked ~ .slider_photos_wrapper {
        transform: translateX(calc(-100% / 8));
    }
    .slider_photos input[value="four"]:checked ~ .slider_photos_wrapper {
        transform: translateX(calc(-100% / 8 * 3));
    }
}

#faq {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1dvh;
    padding: 2dvh 2dvw;

    .section-heading {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: min(3dvw, 20px);
    }

    #faq-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: min(2dvh, 20px);
        padding: 2dvh max((calc(100% - 1440px) / 2), 120px);

        @media screen AND (max-width: 850px) {
            padding: 2dvh 8dvw;
        }

        .faq-box {
            width: 90%;
            border-radius: 10px;
            padding: min(2dvh, 12px) min(2dvw, 12px);
            width: 100%;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            background-color: var(--primary-yellow);
            gap: 10px;

            summary {
                font-family: Palanquin;
                font-weight: 700;
                font-size: 1rem;
                color: var(--secondary-brown);
                cursor: pointer;
            }

            .faq-answer {
                background-color: white;
                padding: 5px 5px;
                border-radius: 5px;

                p {
                    font-family: Palanquin;
                    font-weight: 400;
                    font-size: 1rem;
                }
            }
        }
    }
}

#contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5dvh max((calc(100% - 1440px) / 2), 120px);
    gap: 4dvh;

    @media screen AND (max-width: 850px) {
        padding: 5dvh 8dvw;
    }

    #contact-form-intro {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1dvh;

        .section-heading {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: min(3dvw, 20px);
        }

        #contact-form-text {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.75dvh;

            p {
                font-family: Palanquin;
                font-weight: 500;
                font-size: clamp(1rem, 1.5dvw, 1.5rem);
                text-align: center;
                line-height: 1;
                color: var(--secondary-brown);
            }
        }
    }

    #contact-formular {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2dvh;

        #name-and-email {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1dvw;

            @media screen AND (max-width: 440px) {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        .input-field-top {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 1dvh;
            border-bottom: solid gray 1px;

            label {
                font-family: Palanquin;
                font-weight: 500;
                font-size: clamp(1rem, 1.5dvw, 1.5rem);
                text-align: left;
                line-height: 1;
                color: var(--secondary-brown);
            }
        }

        .input-field-bottom {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1dvh;
            border-bottom: solid gray 1px;

            label {
                font-family: Palanquin;
                font-weight: 500;
                font-size: clamp(1rem, 1.5dvw, 1.5rem);
                text-align: left;
                line-height: 1;
                color: var(--secondary-brown);
            }
        }
    }

    #privacy-checkbox {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: min(2dvw, 20px);

        .container {
            width: 13px;
            height: 13px;
        }

        a {
            text-decoration: underline;
        }
        a:hover {
            font-weight: bold;
        }
    }

    #send-button {
        width: 25dvw;
        max-width: 100px;
        height: 5dvh;
        text-align: center;
        align-content: center;
        background-color: var(--primary-green);
        border-radius: 40px;

        a {
            font-family: Arima;
            font-weight: 700;
            font-style: Bold;
            font-size: clamp(1rem, 1.5dvw, 1.5rem);
            color: white;
        }

        a:hover {
            color: var(--primary-yellow);
        }
    }
}

footer {
    width: 100%;
    height: 10dvh;
    background-color: var(--primary-green);
    align-content: center;

    @media screen AND (max-width: 690px) {
        height: 18dvh;
    }

    @media screen AND (max-width: 440px) {
        margin-bottom: 88px;
    }

    #footer-content {
        width: fit-content%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1dvh max((calc(100% - 1440px) / 2), 120px);

        @media screen AND (max-width: 850px) {
            padding: 2dvh 8dvw;
            align-items: flex-end;
        }

        @media screen AND (max-width: 380px) {
            padding: 1dvh 2dvw;
            gap: 1dvw;
        }

        #footer-text {
            width: fit-content;
            display: flex;
            justify-content: flex-start;
            gap: 3dvw;

            @media screen AND (max-width: 690px) {
                flex-direction: column;
                gap: 1dvw;
            }

            p {
                font-family: palanquin;
                font-weight: 400;
                color: white;
                font-size: 1.125rem;

                @media screen AND (max-width: 690px) {
                    font-size: 1rem;
                }
            }

            a {
                font-family: palanquin;
                font-weight: 400;
                color: white;
                font-size: 1rem;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            #copyright {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 1dvw;

                @media screen AND (max-width: 690px) {
                    order: 1;
                }
            }
        }

        #footer-icons {
            width: fit-content;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 1dvw;

            img {
                height: 32px;
            }

            @media screen AND (max-width: 380px) {
                img {
                    transform: scaleY(0.75) scaleX(0.75);
                }
            }
        }
    }
}
